---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
const pageTitle = "Tags"
const postPages = Object.values(import.meta.glob("../posts/*.md", {eager: true}))
const tags = [...new Set(postPages.map((page: any) => page.frontmatter.tags).flat())].sort()
---
<BaseLayout pageTitle={pageTitle}>
    <Tags tags={tags}/>
    <!--<div class="tags">-->
    <!--    {tags.map((tag: string) => (-->
    <!--            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>-->
    <!--    ))}-->
    <!--</div>-->
</BaseLayout>