---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostLink from "../components/BlogPostLink.astro";
const pageTitle = "Blogo"
const posts = Object.values(import.meta.glob("./posts/*.md", {eager: true}))
---

<BaseLayout pageTitle={pageTitle}>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, placeat!</p>
    <ul>
        {posts.map(
            (post: any) => <BlogPostLink url={post.url} title={post.frontmatter.title}/>
        )}
    </ul>
</BaseLayout>
