---
const pageTitle = "Blogo"
// console.log(document)
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{pageTitle}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
<h1>{pageTitle}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, placeat!</p>
<ul>
    <li><a href="/posts/post-01/">Post 1</a></li>
    <li><a href="/posts/post-02/">Post 2</a></li>
    <li><a href="/posts/post-03/">Post 3</a></li>
</ul>
</body>
</html>
