---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blogo"
---

<BaseLayout pageTitle={pageTitle}>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, placeat!</p>
    <ul>
        <li><a href="/posts/post-01/">Post 1</a></li>
        <li><a href="/posts/post-02/">Post 2</a></li>
        <li><a href="/posts/post-03/">Post 3</a></li>
    </ul>
</BaseLayout>
