---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>The best subtitle in the world</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, placeat!</p>
</BaseLayout>